
PFC/Periodic_BC_element_test/temp_50kPa_phi_30.p3sav
PFC/Periodic_BC_element_test/temp.sav
PFC/Periodic_BC_2D_WIP/tempp.sav
PFC/Periodic_BC_2D_WIP/isoDENSEfr0.sav
PFC/Periodic_BC_2D_WIP/iso1.sav
PFC/Periodic_BC_2D_WIP/iso0.sav
PFC/BPM_TET/stressed.sav
PFC/BPM_TET/Periodic_BC_calibration/stressed.sav
PFC/BPM_TET/Periodic_BC_calibration/init.sav
PFC/BPM_TET/Periodic_BC_calibration/BBM_Initial.sav
PFC/BPM_TET/Cylinder_test/stressed.sav
PFC/BPM_TET/Cylinder_test/geom_init.sav
PFC/BPM_TET/stressed.sav
PFC/BPM_TET/Cylinder_test/geom_init.sav
